# Global catch-all
* @lockwobr @ayuskauskas @rice-riley

# Operator
operator/          @lockwobr @ayuskauskas @rice-riley

# Agent
agent/             @lockwobr @ayuskauskas @rice-riley

# Helm chart
chart/             @lockwobr @ayuskauskas @rice-riley

# Containers
containers/        @lockwobr @ayuskauskas @rice-riley

# Documentation
docs/              @lockwobr @ayuskauskas @rice-riley

# Examples
examples/          @lockwobr @ayuskauskas @rice-riley

# Tests
k8s-tests/         @lockwobr @ayuskauskas @rice-riley

# Build/ops
.github/           @lockwobr @ayuskauskas @rice-riley
scripts/           @lockwobr @ayuskauskas @rice-riley
Makefile           @lockwobr @ayuskauskas @rice-riley
