# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# yaml-language-server: $schema=https://raw.githubusercontent.com/kyverno/chainsaw/main/.schemas/json/test-chainsaw-v1alpha1.json
apiVersion: chainsaw.kyverno.io/v1alpha1
kind: Test
metadata:
  name: helm-chart-webhook
spec:
  description: This test asserts that the helm chart is working as expected. Specifically it asserts that webhooks work as expected. Validating an invalid skyhook should fail. Validating an invalid deployment policy should fail.
  concurrent: false
  timeouts:
    assert: 180s
    exec: 180s
  steps:
  - try:
    - script:
        content: |
          ## Install helm chart
          ../install-helm-chart.sh webhooks
    - assert:
        file: assert-scheduled.yaml
    - assert:
        file: assert-webhook.yaml
    - sleep:
        duration: 5s
    - script:
        content: |
          ## Create invalid skyhook
          kubectl apply -f invalid-skyhook.yaml 2>err.txt
          ec=$?
          cat err.txt
          if [ $ec -eq 0 ]; then
            echo "ERROR: invalid CR was accepted"
            exit 1
          fi
          if ! grep -q "admission webhook \"validate-skyhook.nvidia.com\" denied the request" err.txt; then
            echo "ERROR: Did not get expected webhook validation error"
            cat err.txt
            exit 1
          fi
    - script:
        content: |
          ## Create invalid DeploymentPolicy
          kubectl apply -f invalid-deploymentpolicy.yaml 2>err.txt
          ec=$?
          cat err.txt
          if [ $ec -eq 0 ]; then
            echo "ERROR: invalid DeploymentPolicy was accepted"
            exit 1
          fi
          if ! grep -q "admission webhook \"validate-deploymentpolicy.nvidia.com\" denied the request" err.txt; then
            echo "ERROR: Did not get expected DeploymentPolicy webhook validation error"
            cat err.txt
            exit 1
          fi
    - assert:
        file: assert-webhook.yaml
    - script:
        content: |
          ## Remove helm chart
          ../uninstall-helm-chart.sh webhooks
    - error:
        resource:
          apiVersion: v1
          kind: Secret
          name: webhook-cert
    - error:
        resource:
          apiVersion: admissionregistration.k8s.io/v1
          kind: ValidatingWebhookConfiguration
          name: skyhook-operator-validating-webhook
    - error:
        resource:
          apiVersion: admissionregistration.k8s.io/v1
          kind: MutatingWebhookConfiguration
          name: skyhook-operator-mutating-webhook
    finally:
    - script:
        content: |
          ## Remove helm chart
          ../uninstall-helm-chart.sh webhooks || true
